<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>uni_management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 게시판 페이징 처리를 위한 설정값 2개 
    POSTS_PER_PAGE  10   특정 페이지 번호를 클릭했을때 하나의 페이지에 보여지는 글목록 갯수
    PAGES_PER_BLOCK  5   하단의 한 블럭당 묶여져 보여질  페이지 번호 갯수 
  -->
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  
   <context-param>
    <param-name>CHAT_ADDR</param-name>
    <param-value>ws://localhost:8080/uni_team/</param-value>
  </context-param>
  
</web-app>